USE [master]
GO
/****** Object:  Database [LPPA]    Script Date: 6/30/2023 3:35:33 PM ******/
CREATE DATABASE [LPPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LPPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LPPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LPPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LPPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LPPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LPPA]
GO
/****** Object:  Table [dbo].[Privileges]    Script Date: 6/30/2023 3:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Privileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 6/30/2023 3:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Token] [varchar](50) NULL,
	[Expires] [datetime] NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/30/2023 3:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Salt] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersPrivileges]    Script Date: 6/30/2023 3:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPrivileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PrivilegeId] [int] NULL,
 CONSTRAINT [PK_UsersPrivileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Privileges] ON 

INSERT [dbo].[Privileges] ([Id], [Description]) VALUES (1, N'Admin')
INSERT [dbo].[Privileges] ([Id], [Description]) VALUES (2, N'Vendedor')
INSERT [dbo].[Privileges] ([Id], [Description]) VALUES (3, N'Técnico')
SET IDENTITY_INSERT [dbo].[Privileges] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Salt], [PasswordHash], [Email]) VALUES (1, N'admin', N'0UhK0MrZHcuXbmfRSm15mcUME2joQsyqXz2J137qjiECVEw=', N'Fm+iNy0+R8cGLvEUywWu6U0aFdmRXaQmYVFTpfWqG5o=', N'admin@admin.com')
INSERT [dbo].[Users] ([Id], [UserName], [Salt], [PasswordHash], [Email]) VALUES (2, N'gsochan', N'b1GLnk0o9nmaaJc1zYzfRLTA3gkU2TXv4Kuo9im2QdzK/jk=', N'fU/s3Ba56oKQgxtpe8L3+YGUbj2CTuIYyTGkq3Hnies=', N'string@string.com')
INSERT [dbo].[Users] ([Id], [UserName], [Salt], [PasswordHash], [Email]) VALUES (3, N'test', N'baT3FmU1ULz89Bm6SaA3/ABIkW/UHJ2aGU1Al9Q0Y+WwV0g=', N'3tznGcX1jPZMsK0uOjJE29sh5cY/OvhC9z92OqIJ6t4=', N'string@string.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersPrivileges] ON 

INSERT [dbo].[UsersPrivileges] ([Id], [UserId], [PrivilegeId]) VALUES (1, 1, 1)
INSERT [dbo].[UsersPrivileges] ([Id], [UserId], [PrivilegeId]) VALUES (2, 2, 2)
INSERT [dbo].[UsersPrivileges] ([Id], [UserId], [PrivilegeId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[UsersPrivileges] OFF
GO
USE [master]
GO
